@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
}

#navbar { 
    background-color: #242323;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    width: 100%;
    overflow: hidden;
}


.nav-items{
    display: flex;
    list-style: none;
}

.nav-li{
    padding: 10px;
    margin: 10px;
    color: #0093fd;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    font-size: 1.7rem;
    font-weight: 500;
}
a{
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;


}
a:visited{
    color:inherit;
}
a:hover{
    color: inherit;
    transform: scale(1.1);
}


.logo {
    display: flex;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    color: #0093fd !important;
    /*its works already but the wrong from ur browse, HUH?
    i mean the logo
    */
    font-weight: 700;
    font-size: 1.8rem;

}
.nav-li:hover{
    transform: scale(1.5);
}

.home-content {
    padding: 15px;
    margin: 15px;
    color: white;
}
.hover{
    margin: 5px;
    width: max-content;
    transition: all .2s ease-in-out;
}
.hover:hover {
    transform: scale(1.1);
}

.a-cont {
    color: #000;
    background-color: #0093fd;
    border-radius: 25px;
    padding: 5px;
    font-weight: 600;
    border: none;
}

img {
    width: 350px;
    height: 350px;
    float: center;
}
body{
    position: relative;
}

.info {
    display: flex;
    margin: 15px;
    background-color: #242323;
    color: white;
}
/*what about this
what is the problem
just the logo is black in the phone why?
yep whait
and the color 242323 is not from end to end!*/
/*did u mean the text in the top of info?.....
*/
/* no! the 242323 color is not from the border to the border */
